/* Main colour #b3cdb6 */

@font-face
{
    font-family: title-fnt;
    src: url('./Poppins-Light.ttf');
}

@font-face
{
    font-family: sub-fnt;
    src: url('./Poppins-LightItalic.ttf');
}

#main
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80vh;
}

.title
{
    font-family: title-fnt;
    text-align: center;
    line-height: 0.92;
}

.lead
{
    font-family: sub-fnt;
}

.lead a
{
    color: inherit;
    text-decoration: underline solid #b3cdb6 0.1em;
    text-underline-offset: 0.2em;
}
