/* Main colour #b3cdb6 */

@font-face
{
    font-family: primary-fnt;
    src: url('./Poppins-Light.ttf');
}

@font-face
{
    font-family: sub-fnt;
    src: url('./Poppins-LightItalic.ttf');
}

body
{
    font-family: primary-fnt;
}

#main
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.title
{
    text-align: left;
    line-height: 0.70;
}

.lead
{
    font-family: sub-fnt;
}

a.link
{
    color: inherit;
    text-decoration: underline solid #b3cdb6 0.1em;
    text-underline-offset: 0.2em;
}
